/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #f5f7fb;
  color: #222;
}

/* Container utility */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.page {
  padding: 100px 20px;
  text-align: center;
}